unset GOOS;
unset GOARCH;
export GOROOT='/home/matt/.gimme/versions/go1.21.3.linux.amd64';
export PATH="/home/matt/.gimme/versions/go1.21.3.linux.amd64/bin:${PATH}";
go version >&2;

export GIMME_ENV="/home/matt/.gimme/envs/go1.21.3.env"